* text=auto

*.c   text
*.h   text
*.b   text
*.cob text
*.f   text
*.fs  text
*.awk text
*.pl  text
*.sh  text
*.yml text
*.md  text
*.txt text
Makefile text

*.a   binary
*.o   binary
*.ll  binary
*.bc  binary
